{% extends 'reversi/base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
    <p>プレイヤー1：{{ game.get_player1.name }} {{ game.get_player1.points }}点</p>
    <p>プレイヤー2：{{ game.get_player2.name }} {{ game.get_player2.points }}点</p>
    <canvas id="canv" width="500px" height="500px"></canvas>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/reversi/gameboard_render.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/reversi/gameboard_event_receipter.js' %}"></script>
    <script>
        var ctx = document.getElementById("canv").getContext('2d');
        Game.initGame(ctx);
    </script>
    <br>
    <button id="get_btn" type="button">GetPlayerList</button>
    <!-- APIアクセスのサンプル -->
    <div id="get_playerlist"></div>
    <script>
        const url = "http://127.0.0.1:8000/reversi/api/players/?game="+{{ game.pk }};
        const playerList = document.getElementById("get_playerlist");

        document.getElementById("get_btn")
            .addEventListener("click", () => {
                playerList.textContent = "";
                const init = {method: "GET"};

                fetch(url, init)
                .then(response => {
                    if (response.ok){
                        return response.json();
                    } else {
                        throw Error();
                    }
                })
                .then(data => {console.log(data);
                    for(const player of data){
                        console.log(player);
                        const div = document.createElement('div');
                        div.textContent = player.name;
                        playerList.appendChild(div);
                    }
                })
                .catch(error => {
                    console.log(error);
                })
            })
    </script>
    <hr>
    <!-- ajaxによるリアルタイムAPIアクセスのサンプル -->
    <!--
    <div id="ajax_test"></div>
    <script>
        function update(){
            const this_ = document.getElementById("ajax_test");
            const player_apiurl = "http://127.0.0.1:8000/reversi/api/board/?game="+{{ game.pk }};
            $.ajax({
                url: player_apiurl,
                method: "GET",
                data: {"status":0},　// ユーザーのステータス情報を変更しないように
                success: function(data){
                    console.log(data[0])
                    this_.textContent = data[0].state
                }, error: function(error){
                    console.log(error)
                }
            })
        };
        $(function() {
            setInterval("update()", 2*1000);
        });
    </script>
    -->
{% endblock %}
