{% extends 'reversi/base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
    <p>プレイヤー1：{{ game.get_player1.name }} </p>
    <p>プレイヤー2：{{ game.get_player2.name }} </p>
    <canvas id="canv" width="500px" height="500px"></canvas>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/reversi/api_controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/reversi/gameboard_render.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/reversi/gameboard_event_receipter.js' %}"></script>
    <script>
        // JavaScriptの初期設定
        const canv       = document.getElementById("canv")
        const canv_ctx   = canv.getContext('2d');
        const host_name  = "{{ request.get_host }}";
        const game_pk    = {{ game.pk }};
        const borad_size = {{ game.board.size }};
        const p1_color_r = {{ game.get_player1.color_r }};
        const p1_color_g = {{ game.get_player1.color_g }};
        const p1_color_b = {{ game.get_player1.color_b }};
        const p2_color_r = {{ game.get_player2.color_r }};
        const p2_color_g = {{ game.get_player2.color_g }};
        const p2_color_b = {{ game.get_player2.color_b }};
        const p1_color   = [p1_color_r, p1_color_g, p1_color_b]
        const p2_color   = [p2_color_r, p2_color_g, p2_color_b]
        const rect_board = {x:0, y:0, w:canv.width, h:canv.height};
        ApiController.init(host_name, game_pk);
        Render.init(canv_ctx, borad_size, rect_board, p1_color, p2_color);
        EventReceipter.init(canv_ctx, borad_size, rect_board);
    </script>

    <hr>

    <!-- APIアクセスのサンプル -->
    <button id="get_btn" type="button">Get GameBoard</button>
    <div id="get_test_div"></div>
    <script>
        const get_test_div = document.getElementById("get_test_div");
        document.getElementById("get_btn").addEventListener("click", () => {
            ApiController.getGameState().then(result => {
                console.log(result);
                const gameboard_state = result.board.state;
                get_test_div.textContent = gameboard_state;
                Render.render(true);
            })
        });

    </script>

    <hr>

    <button id="restart_btn" type="button">Restart Game</button>
    <script>
        document.getElementById("restart_btn").addEventListener("click", () => {
            ApiController.restartGame().then(result => {
                console.log(result);
                Render.render(true);
            })
        });

    </script>

{% endblock %}
